// Colors
$neutral-1: rgb(195, 195, 195);
$base-blue: #3798D4;
$white: #fff;
$dark-blue: #2E77A4;
$grey: #B3BCC3;
$orange: #FF876D;
$yellow: #FCF6C5;

// Metrics
$chat_window_horizontal_padding_mobile: 24px;
$footer_header_horizontal_padding_mobile: 8px;
$fixed_chat_width: 400px;
$max_chat_width: 640px;

// Fonts
$font-m: 1em;

// Misc
$footer_header_height: 60px;

// Breakpoints
$min-screen-md: 768px;
